*{
    font-family: Lato;
    box-sizing:border-box;

}

body{
    background-color: white;

}

nav{
    text-align:center;
    color: #696969;
    font-size:2rem;
}
hr{
    color: #ff1493;
    height:2px;
}

img{
    max-width: 100%;
}

a:link, a:visited{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    text-align:center;
    padding: 4px 4px;
    font-size: x-large;
    background-color: #87dffa;
    /*background-color:lightskyblue;*/
    border: 1px;
    /*border-radius: 7px 7px 7px 7px;*/
    border-style: solid;
    box-shadow: 1.2px 1.2px black;
}

a:hover, a:active{
    /*background-color:lightsalmon;*/
    color: black;
    background-color: lightskyblue;
    text-decoration: underline;

}


h1{
    color:darksalmon;
    font-weight: bolder;
}

h2{
    font-size: xx-large;
}

h3{
    font-size: large;
    padding-left: 25px;
}
h4{
    font-size: medium;
    padding-left: 25px;
    float:right;
}
.caregivers_box{
    background-color: steelblue;
    width:32%;
    text-align: center;
    color: white;
    border-style: solid;
    padding:1rem;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:10px;
    float: left;
}
.caregivers_box_name h3{
    font-size: 40px;
}

.caregivers_box_image{
    width:300px;
    height:300px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    align-content: center;
    overflow: hidden;
}

.caregivers_box_desc{
    padding: 0.5rem;
}
.caregivers_box_desc a{
    font-size: xx-large;
    color:yellow;
    text-decoration: none;
    border: 5px solid lightskyblue;
}


.signupButtons{
    text-align: center;
    font-size: xx-large;
}