*{
    font-family: Lato;
    box-sizing:border-box;

}

body{
    background-color: white;

}

nav{
    text-align:center;
    color: #696969;
    font-size:2rem;
}
hr{
    color: #ff1493;
    height:2px;
}

img{
    max-width: 100%;
}

nav a:link, nav a:visited{
    text-decoration: none;
    text-align:center;
    color: rgba(0, 0, 0, 0.8);
    padding: 4px 4px;
    font-size: x-large;
    font-weight: bold;
    background-color: #87dffa;
    border: 1px;
    border-radius: 7px 7px 7px 7px;
    border-style: solid;
    box-shadow: 1.2px 1.2px black;
}

nav a:hover, nav a:active{
    background-color: #ecb9a4;
    color: black;
    text-decoration: underline;

}
.resource-links a{
    background-color: hotpink;
}

h1{
    color: green;
    font-weight: bolder;
    text-align: center;
}

h2{
    font-size: xx-large;
    text-align: center;
}

p{
    font-size: medium;
    padding-left: 25px;
    padding-right: 25px;
}

.welcomeText{
    text-align: center;
    font-size: medium;
}
.footer{
    font-size: xx-small;
}

.caregivers_box{
    background-color: steelblue;
    width:32%;
    text-align: center;
    color: white;
    border-style: solid;
    padding:1rem;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:10px;
    float: left;
}
.caregivers_box_name h3{
    font-size: 40px;
}

.caregivers_box_image{
    width:300px;
    height:300px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    align-content: center;
    overflow: hidden;
}

.caregivers_box_desc{
    padding: 0.5rem;
}
.caregivers_box_desc a{
    font-size: xx-large;
    color:yellow;
    text-decoration: none;
    border: 5px solid lightskyblue;
}


.signupButtons{
    text-align: center;
    font-size: xx-large;

}




.form-group{
    text-align: center;
    line-height: 30px;
    font-size: medium;
}
.form-label{
display: flex;
  flex-direction: column;

    font-weight: bold;
    font-size: large;
}
.form-element input[type=text],input[type=email],input[type=password]{
    width: 130px;
    text-align: center;
    background-color: lightgrey;
    border-radius: 4px;
    font-size: 16px;
}


.form-element input[type=number]{
    width: 80px;
    text-align: center;
    background-color: lightgrey;
    border-radius: 4px;
    font-size: 16px;

}

.form-group input[type=Submit],input[type=Reset]{
    border-radius: 8px;
    background-color:#87dffa;

}

.signupform-signinbutton input[type=Submit],input[type=Reset]{
    border-radius: 8px;
    background-color:#87dffa;
}

.errorboxes-message{
    text-align: center;
    font-size:xx-large;
}

.errorsymbol{
    margin-left: 15px;
    margin-top: 10px;
    color: black;
    font-weight: bold;
    float: left;
    font-size: 2.3rem;
    line-height: 20px;
}

.errorboxes-text{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 30px;
    width: 200px;
    font-size: 3rem;
    font-weight: bolder;
    background-color: red;
}

