{% extends "default_template.html" %}
{%block pageheading %}welcome{% endblock %}

{% block header %}
    <h1>About Us</h1>
{% endblock %}

{% block main %}
<h2>Welcome {{ session['firstname'] }}!</h2>

{% if usergroup == 1 %}
    <a href="/caregivers/add">Add me to caregivers list</a>
{% elif usergroup == 2 %}
    <!--  Will add something here later  -->
{% endif %}

{%if caregiverdata or parentdata%}
    <table>
    <colgroup>
    <col style="width: 120px">
    <col style="width: 120px">
    <col style="width: 90px">
    <col style="width: 90px">
    <col style="width: 380px">
    </colgroup>
    <thead>
      <tr>
        {% if usergroup == 1 %}
        <th>Matched parent first name</th>
        <th>Matched parent last name</th>
        <th>Parent's prefered date</th>
        <th>Parent's prefered time</th>
        <th>Parent's additional comment</th>
        {% elif usergroup == 2 %}
        <th>Your matched caregiver first name</th>
        <th>Your matched caregiver last name</th>
        <th>Your prefered date</th>
        <th>Your prefered time</th>
        <th>Your additional comment</th>
        {% endif %}
     </tr>
    </thead>
    <tbody>
      <tr>
        {% if usergroup == 1 %}
            {% for i in caregiverdata %}
                <td>{{ i }}</td>
            {% endfor %}
        {% elif usergroup == 2 %}
            {% for i in parentdata %}
                <td>{{ i }}</td>
            {% endfor %}
        {% endif %}

      </tr>
    </tbody>
    </table>
{% else %}
    {% if usergroup == 1 %}
        <p>No parents have book you yet.</p>
    {% elif usergroup == 2 %}
        <p>No caregivers have book you yet.</p>
    {% endif %}
{% endif %}


{% endblock %}