{% extends "default_template.html" %}
{%block pageheading %}welcome{% endblock %}

{% block header %}
    <h1 style="text-align:center">Lorem ipsum </h1>
{% endblock %}

{% block main %}
    <div class="caregivers">
         {% for caregivers in caregivers_list %}
         <div class="caregivers_box">
             <div class="caregivers_box_name">
                <p>{{caregivers[2] + " " + caregivers[3] }}</p>
             </div>

            <div class="caregivers_box_image">
                <img src="static/caregivers/images/{{ caregivers[5] }}.jpg" alt="{{ caregivers[2] + caregivers[3] }}">
             </div>
             
            <div class="caregivers_box_desc">
                <p>Gender: {{caregivers[4]}}</p>
                <p>Age: {{caregivers[6]}}</p>
                <p>City: {{caregivers[7]}}</p>
                <p>Experience: {{caregivers[8]}}</p>
                <a href="caregivers/book/{{ caregivers[0] }}">Book {{ caregivers[2]}} as a caregiver</a>
             </div>

         </div>
        {% endfor %}
    </div>
{% endblock %}
