<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Autism website DTS project 2020</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;600;800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"/>
        <link href="{{ url_for('static', filename='default.css') }}" rel="stylesheet">
    </head>
    <body>
    <div class="container">
        <header>
            <div class="header">
                {% block header %}
                {% endblock %}
            </div>
        </header>

        <nav>
            <div class="nav-right">
                <a href="/">Home</a>&#9702;
                <a href="/aboutus">About us</a>&#9702;
                <a href="/caregivers">Our Caregivers</a>&#9702;
                <a href="/resources">Resources</a>&#9702;
                {% if not logged_in %}
                <a href="/signup">Sign up</a>&#9702;
                <a href="/login">Login</a>
                {% else %}
                    {% if session['parentmatched'] == True %}
                        <a href="/account">(!!)My Account</a>&#9702;
                    {% else %}
                        <a href="/account">My Account</a>&#9702;
                    {% endif %}
                <a href="/logout">Logout</a>
                {% endif %}
            </div>
            <div class="nav-bottom">
                <hr>
                <div class="welcomeText">
                {% if not logged_in %}
                    <p>Hi there! Please log in.</p>
                {% else %}
                    {% if session['usergroup'] == 1 %}
                        <p>{{ "Hi {}! Welcome to Autism website 2020. You are logged in as a caregiver.".format(session['firstname']) }}</p>
                    {% elif session['usergroup'] == 2 %}
                        <p>{{ "Hi {}! Welcome to Autism website 2020. You are logged in as a parent.".format(session['firstname']) }}</p>
                    {% endif %}
                {% endif %}
                </div>
    <hr>
            </div>
        </nav>

        <main>
            <div class="main">
                {% block main %}
                {% endblock %}
            </div>
        </main>

        <footer>
            <div class="footer">
                <hr>
                <a href="/contact">Contact us</a>&#9702;
                <a href="/donation">Donate</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at auctor turpis. Nulla convallis urna non eleifend mattis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae.</p>
                <p>©JWL16038 2020</p>
                {% block footer %}
                {% endblock %}
            </div>
        </footer>
    </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="js/script.js"></script>
    </body>
</html>