{% extends "default_template.html" %}
{%block pageheading %}welcome{% endblock %}

{% block header %}
    <h1 style="text-align:center">Autism website project 2020</h1>
{% endblock %}

{% block footer %}
    <h3>Hi there! Please log in. The time is now xxxxx.</h3>
{% endblock %}

{% block main %}
    <h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna. Nunc viverra imperdiet enim. Fusce est. Vivamus a tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin pharetra nonummy pede. Mauris et orci. Aenean nec lorem.</h4>
    <img src="static/homepage/28207065531_4bc6388421_o.jpg" width="593.25" height="395.5" />
{% endblock %}