{% extends "default_template.html" %}
{%block pageheading %}welcome{% endblock %}

{% block header %}
<h1>Resources</h1>
{% endblock %}

{% block main %}
<div class="resource-links">
    <p><a href="https://www.autismnz.org.nz/">Autism NZ</a></p>
    <p><a href="https://www.autism.org.nz/">Children's autism</a></p>
    <p><a href="https://www.autismshop.com/">Altogether Autism</a></p>
    <p><a href="https://www.sensorycorner.co.nz/">Sensorycorner</a></p>
    <p><a href="https://www.altogetherautism.org.nz/who-for/family-whanau-and-carers/">Altogetherautism</a></p>
    <p><a href="https://www.msd.govt.nz/">Ministry of Social Development NZ</a></p>
    <p><a href="https://www.ccdhb.org.nz/">Capital and Coast District Health Board NZ</a></p>
    <p><a href="https://www.starship.org.nz">Starship Hospital</a></p>
</div>


{% endblock %}