{% extends "default_template.html" %}
{%block pageheading %}welcome{% endblock %}

{% block header %}
    <h1>Caregiver signup</h1>
{% endblock %}

{% block navigation %}
<hr>
{% endblock %}

{% block main %}
<form class="myform" method="post">
    <div class="form-group">
        <div class = "form-label">First name:</div>
        <div class = "form-element"><input id="fname" name="fname" type="text" required></div>
    </div>

    <div class="form-group">
        <div class = "form-label">Last name:</div>
        <div class = "form-element"><input id="lname" name="lname" type="text" required></div>
    </div>

    <div class="form-group">
        <div class = "form-label">Email:</div>
        <div class = "form-element"><input id="email" name="email" type="email" required></div>
    </div>

    <div class="form-group">
        <div class = "form-label">Age:</div>
        <div class = "form-element"><input id="age" name="age" type="number" required></div>
    </div>

    <div class="form-group">
        <div class = "form-label">Country:</div>
            <div class="form-droplist">
                <select name="country" id="country">
                    <option value="NZ">New Zealand</option>
                    <option value="AUS">Australia</option>
                    <option value="USA">United States</option>
                </select>
            </div>
        </div>

    <div class="form-group">
        <div class = "form-label">Password:</div>
        <div class = "form-element"><input id="password" name="password" type="password" required></div>
    </div>

    <div class="form-group">
        <div class = "form-label">Retype Password:</div>
        <div class = "form-element"><input id="password2" name="password2" type="password" required></div>
    </div>

    <div class = "button-group">
        <input type="submit" value="Submit">
        <input type="reset" value="Reset">
    </div>
</form>

{% endblock %}